﻿@page
@model RegisterModel

<h1>@ViewData["Title"]</h1>


<main class="register-mp" style="padding: 0 0 30px">
    <div class="main-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="login-register-bg">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="lg-left">
                                    <div class="lg-logo">
                                        <a href="index.html"><img src="images/login-register/logo.svg" alt=""></a>
                                    </div>
                                    <div class="lr-text">
                                        <h2>Register Now</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum blandit felis a hendrerit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="lr-right">
                                    <h3>Sign Up to <span style="color: #f55f3d">Goeveni</span></h3>
                                    <div class="login-register-form">
                                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">                                          
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="form-group">
                                                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter username!" />
                                               
                                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter first name!" />
                                                
                                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.LastName" class="form-control" autocomplete="" aria-required="true" placeholder="Enter last name!" />
                                                
                                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password!" />
                                                
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm-password!" />
                                               
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button id="registerSubmit" type="submit" class="login-btn">Register</button>
                                            <div class="login-link">If you have an account? <a href="/Identity/Account/Login">Login Now</a></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>


@* <div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
