﻿@page
@using System.Globalization
@model EventManagerWeb.Pages.HomePage.EventDetailModel
@{
}

<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="shareModalLabel">
					<span class="model-title-icon"><i class="feather-share-2"></i></span>
					Share Post
				</h5>
				<button type="button" class="btn-model-close btn-color" data-bs-dismiss="modal" aria-label="Close">
					<i class="feather-x"></i>
				</button>
			</div>
			<div class="modal-body p-0">
				<div class="share-copy-link share-copy-text">
					<p>Share this link to invite others</p>
					<ul>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><img src="images/share-icons/icon-1.png" alt=""></a></li>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><img src="images/share-icons/icon-2.png" alt=""></a></li>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><img src="images/share-icons/icon-3.png" alt=""></a></li>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn"><img src="images/share-icons/icon-4.png" alt=""></a></li>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"><img src="images/share-icons/icon-5.png" alt=""></a></li>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><img src="images/share-icons/icon-6.png" alt=""></a></li>
						<li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy Link"><img src="images/share-icons/icon-7.png" alt=""></a></li>
					</ul>
				</div>

				<div class="">
					<div class="contact-list-area pt-4 pe-4 ps-4">
						<div class="contact-search-area position-relative">
							<input class="control-input" type="text" placeholder="Search People">
							<i class="feather-search"></i>
						</div>
					</div>
					<div class="contact-list pt-3 p-4">
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/homepage/left-side/left-img-1.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Johnson</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/homepage/left-side/left-img-2.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Jassica William</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/homepage/left-side/left-img-3.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Rock</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/homepage/left-side/left-img-4.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Davil Smith</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/homepage/left-side/left-img-5.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Ricky Doe</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/find-peoples/user-6.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Johnson Dua</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/find-peoples/user-7.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Albert William</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
						<div class="sugguest-user px-0 py-2 border-top-0">
							<div class="sugguest-user-dt">
								<a href="user_profile.html"><img src="images/find-peoples/user-8.jpg" alt=""></a>
								<a href="user_profile.html"><h4>Lizzy Smith</h4></a>
							</div>
							<button class="request-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Send"><i class="feather-mail"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="co-main-btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
				<button class="main-btn color btn-hover">Share</button>
			</div>
		</div>
	</div>
</div>
	

<main class="evnt-px">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="main-card">
					<div class="event-detail-content">
						<div class="event-main-img">
							<img src="@Model.EventVm.UrlImage" alt="">
							@{
								DateTime? dt = @Model.EventVm.DateBegin; // Giả sử item.DateBegin là ngày và thời gian của sự kiện
								string month = dt.HasValue ? dt.Value.ToString("MMM").ToUpper() : "N/A";
								string day = dt.HasValue ? dt.Value.ToString("dd") : "N/A";
								string time = dt.HasValue ? dt.Value.ToString("ddd, dd MMM 'AT' hh:mm tt 'UTC'zzz", new CultureInfo("en-US")) : "N/A";
							}
							<div class="event-date">
								<span class="emnth">@month</span>
								<span class="edate">@day</span>
							</div>
						</div>
						<div class="event-title-dts">
							<span class="evnt_time txtbold">@time</span>
							<h3 class="event-heading-title text-left">@Model.EventVm.EventName</h3>
							<div class="event-cate-dt">
								<div>Paid</div>
								<div class="mid-space">·</div>
								<div>@Model.EventVm.EventLocation</div>
							</div>
						</div>
						<div class="d-md-flex d-block align-self-center p-20">
							<div class="ttlcnt15 invtbyuser">
								<div class="invited_avtar_ee">
									<img src="@Model.EventVm.AppUser.Avatar" alt="">
								</div>
								<span class="evntcunt">Hosted by @Model.EventVm.AppUser.FullName</span>
							</div>
							<div class="ms-auto mt-4 mt-md-0 mt-lg-0 mt-xl-0">
								<ul class="egroup-btns">
									<li><a class="main--btn view-hover" href="#"><i class="feather-star me-2"></i>Interested</a></li>
									<li><a class="main--btn view-hover" href="#"><i class="feather-check-circle me-2"></i>Going</a></li>
									<li><a class="m-share-btn view-hover" href="#shareModal" data-bs-toggle="modal" role="button"><i class="feather-share-2"></i></a></li>
									<li>
										<div class="view-ellipsis">
											<div class="dropdown">
												<a class="ellipsis-btn dropdown-toggle-no-caret view-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="feather-more-vertical"></i></a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
													<a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
													<a class="post-link-item" href="user_profile.html"><i class="feather-user icon-mr1"></i>User Profile</a>
													<a class="post-link-item" href="#reportModal" data-bs-toggle="modal" role="button"><i class="feather-flag icon-mr1"></i>Report</a>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-card mt-30">
					<div class="categories-left-heading border_bottom">
						<h3>Details</h3>
					</div>
					<div class="evntdt99 p-20">
						<div class="mndtlist alrspndpple gowthfdsbtn">
							<div class="evntflldt4 flxcntr">
								<div class="hhttd14s">
									<i class="feather-users"></i>
								</div>
								<div class="ttlpple">
									<span>5 people responded</span>
								</div>
							</div>
						</div>
						<div class="mndtlist">
							<div class="evntflldt4 flxcntr">
								<div class="hhttd14s">
									<i class="feather-flag"></i>
								</div>
								<div class="ttlpple">
									<span>Event by </span>
									<a href="~/asset/images/homepage/center/post-img-3.jpg" class="ml-1">@Model.EventVm.AppUser.FullName</a>
								</div>
							</div>
						</div>
						<div class="mndtlist">
							<div class="evntflldt4 flxcntr">
								<div class="hhttd14s">
									<i class="feather-map-pin"></i>
								</div>
								<div class="ttlpple">
									<a href="#">@Model.EventVm.EventLocation</a>
								</div>
							</div>
						</div>
						<div class="mndtlist">
							<div class="evntflldt4">
								<div class="hhttd14s">
									<i class="feather-clock"></i>
								</div>
								<div class="ttlpple">
									<span>@time</span>									
								</div>
							</div>
						</div>
						<div class="mndtlist">
							<div class="evntflldt4">
								<div class="hhttd14s">
									<i class="feather-film"></i>
								</div>
								<div class="ttlpple">
									<span>Tickets</span>
									<span class="wthrsml4">example.com/eventname</span>
								</div>
							</div>
						</div>
						
						<div class="mndtlist">
							<div class="evntflldt4">
								<div class="hhttd14s">
									<i class="feather-film"></i>
								</div>
								<div class="ttlpple">
									<span>Description</span>
									<span class="wthrsml4">@Model.EventVm.EventDescription</span>
								</div>
							</div>
						</div>

						<div class="tagtlist">
							<ul class="taglst17">
								<li>
									<a href="#" class="tagbite">Party</a>
								</li>
								<li>
									<a href="#" class="tagbite">Dance</a>
								</li>
								<li>
									<a href="#" class="tagbite">Celebrity</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="main-card">
					<div class="categories-left-heading border_bottom">
						<h3>Tickets</h3>
					</div>				
					<div class="form-group select-icon mt-4 p-20">
						<label class="form-label">Category Ticket:</label>
						<select class="selectpicker " data-width="100%" data-size="5">		
							
							@foreach(var item in Model.EventVm.Tickets)
							{
								<option value="@item.Id">@item.TicketType</option>
							}
						</select>
					</div>
					<div class="p-20">
						<a asp-page="/EventManage/Checkout" asp-route-idE="@Model.EventVm.Id" class="main-btn btn-hover h_40">Booking Ticket</a>
					</div>
				</div>
				<div class="main-card">
					<div class="categories-left-heading border_bottom">
						<h3>Go with friends</h3>
					</div>
					<div class="p-20">
						<div class="gofrnd15s cursur" data-bs-toggle="modal" data-bs-target="#goWithfriendsModal">
							<div class="gowthfrnd">
								<span class="gofndcunt">2</span>
								<span class="headttl5e">Going</span>
							</div>
							<div class="intrsdfrnd">
								<span class="gofndcunt">3</span>
								<span class="headttl5e">Interested</span>
							</div>
						</div>
					</div>
				</div>
				<div class="main-card">
					<div class="categories-left-heading border_bottom">
						<h3>Host</h3>
					</div>
					<div class="p-20">
						<div class="user-follow-card">
							<div class="follow-card-left">
								<div class="follow-avatar">
									<img src="~/asset/images/find-peoples/user-2.jpg" alt="">
								</div>
								<div class="follow-name">
									<a href="user_profile.html">Rock Smith</a>
									<span>Event Orgnizar</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-card">
					<div class="categories-left-heading border_bottom">
						<h3>Invite Friends</h3>
					</div>
					<div class="p-20">
						<div class="srchinvteus">
							<div class="main-form">
								<input class="form-input" type="text" placeholder="Invite your friends/followers">
							</div>
						</div>
						<div class="user-info__sections">
							<div class="invite_info__sections scroll1452 p-0">
								<div class="user-follow-card mt-4">
									<div class="follow-card-left">
										<div class="follow-avatar">
											<img src="~/asset/images/find-peoples/user-2.jpg" alt="">
										</div>
										<div class="follow-name">
											<a href="user_profile.html">Jassica William</a>
											<span>1 Follower</span>
										</div>
									</div>
									<div class="follow-card-btn">
										<button class="follow-btn">Invite</button>
									</div>
								</div>
								<div class="user-follow-card mt-4">
									<div class="follow-card-left">
										<div class="follow-avatar">
											<img src="~/asset/images/find-peoples/user-5.jpg" alt="">
										</div>
										<div class="follow-name">
											<a href="user_profile.html">Rock Smith</a>
											<span>3 Followers</span>
										</div>
									</div>
									<div class="follow-card-btn">
										<button class="follow-btn">Invite</button>
									</div>
								</div>
								<div class="user-follow-card mt-4">
									<div class="follow-card-left">
										<div class="follow-avatar">
											<img src="~/asset/images/find-peoples/user-6.jpg" alt="">
										</div>
										<div class="follow-name">
											<a href="user_profile.html">Albert Doe</a>
											<span>6 Followers</span>
										</div>
									</div>
									<div class="follow-card-btn">
										<button class="follow-btn">Invite</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<script>
	document.querySelector('.main-btn').addEventListener('click', function (e) {
		e.preventDefault();
		var selectedOptionValue = document.querySelector('.selectpicker').value;
		var href = this.getAttribute('href');
		window.location.href = href + '?option=' + selectedOptionValue;
	});


	document.querySelector('.main-btn').addEventListener('click', function (e) {
		var selectedOptionValue = document.querySelector('.selectpicker').value;
		if (selectedOptionValue === "") {
			alert('Vui lòng chọn một option.');
			return;
		}
		e.preventDefault();
		var href = this.getAttribute('href');
		window.location.href = href + '?option=' + selectedOptionValue;
	});
</script>
