﻿@page
@model EventManagerWeb.Pages.HomePage.ExploreModel
@{
}
<div class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-12" style="text-align: center">
				<h2 style="color: #eb6f52">Explore The Event</h2>
			</div>
		</div>
	</div>
</div>
<!-- Title Bar End -->
<!-- Body Start -->
<main class="goeveni-mp">
	<div class="main-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-12">
					<div class="user-data full-width">
						<div class="search-explore p-4">
							<form method="post" asp-page-handler="Search">
								<div class="position-relative">
									<input class="form-input" type="text" placeholder="Search events by Event Name..." name="SearchText">
								</div>
								<button class="main-btn btn-hover w-100 mt-3">Apply</button>
							</form>
						</div>
						<div class="explore-filters accordion" id="explore-filter-group">
							<a href="#filter-item-1" class="filter-step collapsed cate-right" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="filter-item-1">Categories</a>
							<div class="collapse" id="filter-item-1" data-bs-parent="#explore-filter-group">
								<div class="cate-group text-start">
									<div class="categories-items">
										<div class="categories-container">
											@foreach (var category in Model.EventCategories)
											{
												<form method="post" asp-page-handler="SearchByCategory" class="category-form">
													<input type="hidden" name="categoryId" value="@category.Id" />
													<button type="submit" class="category-item">@category.CategoryName</button>
												</form>
											}
										</div>
									</div>
								</div>
							</div>
							<a href="#filter-item-2" class="filter-step collapsed cate-right" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="filter-item-2">Location</a>
							<div class="collapse" id="filter-item-2" data-bs-parent="#explore-filter-group">
								<div class="filter-location main-form text-start">
									<form method="post" asp-page-handler="SearchByLocation">
										<div class="form-group mt-3">
											<input class="form-input" type="text" id="location" name="Location" placeholder="City">
										</div>
										<button class="main-btn btn-hover w-100 mt-3">Apply</button>
									</form>
								</div>
							</div>
							<a href="#filter-item-3" class="filter-step collapsed cate-right border-bottom-0" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="filter-item-3">Dates</a>
							<div class="collapse" id="filter-item-3" data-bs-parent="#explore-filter-group">
								<div class="date-group text-start">
									<form method="post" asp-page-handler="SearchByDate">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="dateRadioDefault" id="date-1" value="all" checked>
											<label class="form-check-label" for="date-1">
												All Dates
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="dateRadioDefault" id="date-4" value="15">
											<label class="form-check-label" for="date-4">
												Upcoming 15 Days
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="dateRadioDefault" id="date-5" value="10">
											<label class="form-check-label" for="date-5">
												Upcoming 10 Days
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="dateRadioDefault" id="date-6" value="5">
											<label class="form-check-label" for="date-6">
												Upcoming 5 Days
											</label>
										</div>
										<button type="submit" class="main-btn btn-hover mt-3">Apply</button>
									</form>

								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 col-md-12">
					<div class="explore-items">
						<div class="row">
							 @foreach (var item in Model.Events)

							{
							<div class="col-xl-4 col-lg-6 col-md-6">
								<div class="event-main-post">
									<div class="main-photo">
										<a href="event_detail_view.html">
											<div class="photo-overlay"></div>
											<img src="@Url.Content(@item.UrlImage)" alt="">
										</a>

									</div>
									<div class="event-body">
											<span class="event-time">Date begin: @item.DateBegin</span>
											<span class="event-time">Date end: @item.DateEnd</span>
											<a href="" class="event-title">Event Title:@item.EventName</a>
											<a href="" class="event-title">Category: @item.EventCategory.CategoryName</a>
											<span class="event-type">Location: @item.EventLocation</span>
										<p class="ingo-counter">
											<span></span>
											<span></span>
										</p>
										<div class="group-btns">
											<button class="interest-btn btn-hover"><i class="feather-star me-2"></i>View Detail</button>
											<button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
										</div>
									</div>
								</div>
							</div>

							}
							<div class="col-md-12">
								<div class="loading-btn mb-3">
									<button class="process-btn btn-hover" type="button">									
										View More
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

