﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


@* <div class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="title-bar-text">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Setting</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Title Bar End -->
<!-- Body Start -->
<main class="discussion-mp">
	<div class="main-section">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-lg-4 col-md-12">
					<div class="main-card">
						<div class="setting-tabs">
							<partial name="_ManageNav" />
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-12">
					<div class="tab-content" id="myTabContent">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</div>
</main> *@


<div class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-12" style="text-align: center">
				<h2 style="color: white">Settings Account</h2>
			</div>
		</div>
	</div>
</div>


<div>
    <div class="row" style="margin-top: 50px; min-height: 63vh;">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
