﻿@page
@model EventManagerWeb.Pages.EventManage.AddEventModel
@{
}
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<style>
	

	.add-event-cover-image {
		width: 100%; /* Đặt chiều rộng của khung */
		height: 230px; /* Đặt chiều cao của khung, bạn có thể điều chỉnh theo ý muốn */
		position: relative; /* Để định vị hình ảnh bên trong */
		overflow: hidden; /* Ẩn phần hình ảnh vượt quá khung */
	}

	#preview-img {
		width: 100%; /* Chiều rộng hình ảnh sẽ tự động điều chỉnh theo khung */
		height: auto; /* Chiều cao hình ảnh sẽ tự động điều chỉnh để giữ tỷ lệ */
		object-fit: contain; /* Hình ảnh sẽ được hiển thị đầy đủ mà không bị cắt */
		display: block; /* Hiển thị hình ảnh sau khi file được chọn */
		position: absolute; /* Định vị tuyệt đối hình ảnh so với khung .add-event-cover-image */
		top: 0; /* Đặt hình ảnh ở đầu khung */
		left: 0; /* Đặt hình ảnh ở bên trái khung */
	}

	.cover-img-btn {
		position: absolute; /* Định vị tuyệt đối cho nút */
		top: 50%; /* Đặt nút ở giữa khung chứa theo chiều dọc */
		left: 50%; /* Đặt nút ở giữa khung chứa theo chiều ngang */
		transform: translate(-50%, -50%); /* Căn giữa nút so với khung chứa */
		z-index: 10; /* Đảm bảo nút nằm trên hình ảnh */
	}

	.float-right {
		float: right;
	}

	.btn-sm {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem; /* Hoặc kích thước mong muốn */
	}

</style>

<!-- Title Bar End -->
<!-- Body Start -->
<main class="goeveni-mp">
	<div class="main-section">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xl-6 col-lg-10 col-md-12">
					<form method="post" action="" id="formSubmit" enctype="multipart/form-data">
					<div class="main-card p-4">
						<div class="add-event-cover-image">
							<div class="upload-cover">
								<div class="cover-img-btn">
										<input type="file" id="cover-img" asp-for="Upload" accept="image/png, image/jpeg, image/gif" onchange="previewImage(event)">
									<label for="cover-img"><i class="feather-image me-3"></i>Upload Event Image</label>
								</div>
								<img id="preview-img" src="" alt="Image preview..." style="display:none;">
							</div>
						</div>
					</div>


					<div class="add-event-tabs">
						
						<div class="tab-content" id="mainTabContent">
							<div class="tab-pane fade active show" id="online" role="tabpanel" aria-labelledby="online-tab">
								<div class="event-type-dt main-form mt-4">
									
									<div class="tab-content" id="subTabContent">
										<div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
											<div class="form-group select-icon mt-4">
												<label class="form-label">CategoryEvent:</label>
													<select asp-for="Event.EventCategoryId" id="eventCategory" class="selectpicker " title="Enter EventCategory" data-width="100%" data-size="5">
														@foreach (var category in Model.EventCategories)
														{
															<option value="@category.Id">@category.CategoryName</option>
														}
												</select>
											</div>

											<div class="form-group mt-4">
												<label class="form-label">Event Name:</label>
												<input asp-for="Event.EventName" class="form-input" id="eventName" type="text" placeholder="Enter Event name">

											</div>
											<div class="row">
												<div class="col-lg-6 col-md-12">
													<div class="form-group mt-3">
														<label class="form-label">Start Time:</label>
															<input asp-for="Event.DateBegin" class="search-form-input" id="startTimePicker" type="datetime" placeholder="Select Date and Time">
														
													</div>
												</div>
												<div class="col-lg-6 col-md-12">
													<div class="form-group mt-3">
														<label class="form-label">End Time:</label>
															<input asp-for="Event.DateEnd" class="search-form-input" id="endTimePicker" type="datetime" placeholder="Select Date and Time">
													</div>
												</div>
											</div>
											<div class="location-content mt-4">
												<h4 class="title-b mb-2">Location:</h4>
												<input asp-for="Event.EventLocation" class="form-input" type="text" placeholder="Enter Event Location">
											</div>
											<div class="form-group mt-4">
												<label class="form-label">Description:</label>
												<textarea asp-for="Event.EventDescription" class="form-textarea" placeholder="Description"></textarea>
											</div>
											<br/>
											<!-- Button to add ticket types -->
											<div class="float-right mb-3">
												<button type="button" class="main-btn btn-hover h-40 w-100 btn-sm" id="addTicketTypeButton">Add Ticket Type</button>
											</div>

											<div id="ticketTypeForm" style="display: none;">
												<div class="form-group mt-4">
													<label class="form-label">Ticket Type:</label>
													<input class="form-input" id="ticketType" type="text" placeholder="Enter Ticket Type">
												</div>
												<div class="form-group mt-4">
													<label class="form-label">Ticket Price:</label>
													<input class="form-input" id="ticketPrice" type="number" placeholder="Enter Ticket Price">
												</div>
												<div class="form-group mt-4">
													<label class="form-label">Ticket Quantity:</label>
													<input class="form-input" id="ticketQuantity" type="number" placeholder="Enter Ticket Quantity">
												</div>
												<button class="main-btn btn-hover h-40 w-100 mt-3 mb-3" id="submitTicketType">Add</button>
											</div>

											<!-- Where ticket types will be listed -->
											<div id="ticketTypeList" class="mt-4">
												<h4 class="title-b mb-2">Ticket Types:</h4>
												<ul id="ticketTypeItems"></ul>
											</div>

											<!-- Nút để thêm promotion -->
											<div class="float-right mb-3">
												<button type="button" class="main-btn btn-hover h-40 w-100 btn-sm" id="addPromotionButton">Add Promotion</button>
											</div>

											<!-- Form thêm promotion (ban đầu ẩn đi) -->
											<div id="promotionForm" style="display: none;">
												<br/>
												<div class="form-group mt-4">
													<label class="form-label">Promotion Channel:</label>
													<input class="form-input" id="promotionChannel" type="text" placeholder="Enter Promotion Channel">
												</div>
												<div class="form-group mt-4">
													<label class="form-label">Promotion Code:</label>
													<input class="form-input" id="promotionCode" type="text" placeholder="Enter Promotion Code">
												</div>
												<div class="form-group mt-4">
													<label class="form-label">Slots Available:</label>
													<input class="form-input" id="slotsAvailable" type="number" placeholder="Enter Slots Available">
												</div>
												<div class="form-group mt-4">
													<label class="form-label">Discount Percent:</label>
													<input class="form-input" id="discountPercent" type="number" placeholder="Enter Discount Percent">
												</div>
												<button class="main-btn btn-hover h-40 w-100 mt-3 mb-3" id="submitPromotion">Add</button>
											</div>

											<!-- Nơi hiển thị danh sách promotion đã thêm -->
											<div id="promotionList" class="mt-4">
												<h4 class="title-b mb-2">Promotions:</h4>
												<ul id="promotionItems"></ul>
											</div>

											<button type="submit" class="main-btn btn-hover h-40 w-100 mt-37 mb-3">Create Event</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function () {
			var output = document.getElementById('preview-img');
			output.src = reader.result;
			output.style.display = 'block'; // Hiển thị hình ảnh
		};
		reader.readAsDataURL(event.target.files[0]);
	}
	document.addEventListener('DOMContentLoaded', function () {
		flatpickr("#endTimePicker", {
			enableTime: true,
			dateFormat: "Y-m-d H:i:s",
			locale: "en"
		});

	});
	document.addEventListener('DOMContentLoaded', function () {
		flatpickr("#startTimePicker", {
			enableTime: true,
			dateFormat: "Y-m-d H:i:s",
			locale: "en"
		});

	});
	document.addEventListener('DOMContentLoaded', function () {
		// Tạo Flatpickr cho Start Time
		flatpickr("#startTimePicker", {
			enableTime: true,
			dateFormat: "Y-m-d H:i:s",
			locale: "en",
			onClose: function (selectedDates) {
				validateStartTime(selectedDates[0]); // Gọi hàm validate sau khi người dùng chọn Start Time
			}
		});

		// Tạo Flatpickr cho End Time
		flatpickr("#endTimePicker", {
			enableTime: true,
			dateFormat: "Y-m-d H:i:s",
			locale: "en",
			onClose: function (selectedDates) {
				validateEndTime(selectedDates[0]); // Gọi hàm validate sau khi người dùng chọn End Time
			}
		});
	});

	// Hàm validate StartTime
	function validateStartTime(startTime) {
		var currentTime = new Date();
		var formattedTime = formatDateTime(currentTime);
		var startTimeInput = document.getElementById('startTimePicker');

		
		 if (startTime - currentTime < 20 * 60 * 60 * 1000) {
			// Thời gian bắt đầu phải cách thời gian hiện tại ít nhất 20 tiếng (20 * 60 * 60 * 1000 milliseconds)
			showError(startTimeInput, 'Thời gian bắt đầu phải cách thời gian hiện tại ít nhất 20 tiếng.');
		} else {
			// Không có lỗi, xóa thông báo lỗi nếu có
			clearError(startTimeInput);
		}
	}

	// Hàm validate EndTime
	function validateEndTime(endTime) {
		var startTime = flatpickr.parseDate(document.getElementById('startTimePicker').value, "Y-m-d H:i:s");
		var endTimeInput = document.getElementById('endTimePicker');

		
		 if (endTime <= startTime.getTime() + 2 * 60 * 60 * 1000) {
			// Thời gian kết thúc phải lớn hơn thời gian bắt đầu ít nhất 2 tiếng (2 * 60 * 60 * 1000 milliseconds)
			showError(endTimeInput, 'Thời gian kết thúc phải lớn hơn thời gian bắt đầu ít nhất 2 tiếng.');
		} else {
			// Không có lỗi, xóa thông báo lỗi nếu có
			clearError(endTimeInput);
		}
	}

	// Hàm hiển thị thông báo lỗi
	function showError(input, message) {
		var errorSpan = document.createElement('span');
		errorSpan.textContent = message;
		errorSpan.classList.add('error-message');
		errorSpan.style.color = 'red';
		input.parentNode.insertBefore(errorSpan, input.nextSibling);
	}

	// Hàm xóa thông báo lỗi
	function clearError(input) {
		var error = input.parentNode.querySelector('.error-message');
		if (error) {
			error.remove();
		}
	}

	// Hàm formatDateTime để định dạng thời gian
	function formatDateTime(date) {
		var year = date.getFullYear();
		var month = (date.getMonth() + 1).toString().padStart(2, '0');
		var day = date.getDate().toString().padStart(2, '0');
		var hours = date.getHours().toString().padStart(2, '0');
		var minutes = date.getMinutes().toString().padStart(2, '0');
		var seconds = date.getSeconds().toString().padStart(2, '0');

		return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
	}


	document.getElementById('cover-img').addEventListener('change', function (e) {
		var file = e.target.files[0];
		var fileType = file.type;
		var validImageTypes = ['image/jpeg', 'image/png', 'image/gif'];

		if (!validImageTypes.includes(fileType)) {
			alert('Please choose image file corect.');
			e.target.value = ''; // Đặt lại trường file
		}
	});

	
	document.addEventListener('DOMContentLoaded', function () {
		// Hàm hiển thị thông báo lỗi
		function showError(input, message) {
			var errorSpan = document.createElement('span');
			errorSpan.textContent = message;
			errorSpan.classList.add('error-message');
			errorSpan.style.color = 'red';
			input.parentNode.insertBefore(errorSpan, input.nextSibling);
		}

		// Hàm xóa thông báo lỗi
		function clearError(input) {
			var error = input.parentNode.querySelector('.error-message');
			if (error) {
				error.remove();
			}
		}
		
		// Validate Event Category
		function validateEventCategory() {
			var categorySelect = document.getElementById('eventCategory');
			clearError(categorySelect);
			if (!categorySelect.value.trim()) {
				showError(categorySelect, 'Vui lòng chọn loại sự kiện.');
			}
		}

		

		// Validate Event Name
		var eventNameInput = document.getElementById('eventName');
		eventNameInput.addEventListener('blur', function () {
			clearError(this);
			if (this.value.trim() === '') {
				showError(this, 'Vui lòng nhập tên sự kiện.');
			} else if (eventName.length > 50) {
				showError(this, 'Tên sự kiện không được vượt quá 50 ký tự.');
			}
		});

		// Validate Start Time
		

		

		// Validate Event Location
		var locationInput = document.querySelector('.location-content input');
		locationInput.addEventListener('blur', function () {
			clearError(this);
			if (this.value.trim() === '') {
				showError(this, 'Vui lòng nhập địa điểm sự kiện.');
			}
		});

		// Validate Description
		var descriptionTextarea = document.querySelector('.form-textarea');
		descriptionTextarea.addEventListener('blur', function () {
			clearError(this);
			if (this.value.trim() === '') {
				showError(this, 'Vui lòng nhập mô tả sự kiện.');
			}
		});

		// Validate Event Category
		function validateEventCategory() {
			var categorySelect = document.getElementById('eventCategory');
			clearError(categorySelect);
			if (!categorySelect.value.trim()) {
				showError(categorySelect, 'Vui lòng chọn loại sự kiện.');
			}
		}

		// Validate Ticket Type
		var ticketTypeInput = document.getElementById('ticketType');
		ticketTypeInput.addEventListener('blur', function () {
			clearError(this);
			if (this.value.trim() === '') {
				showError(this, 'Vui lòng nhập loại vé.');
			}
		});

		// Validate Ticket Price
		var ticketPriceInput = document.getElementById('ticketPrice');
		ticketPriceInput.addEventListener('blur', function () {
			clearError(this);
			var price = parseFloat(this.value.trim());

			if (isNaN(price)) {
				showError(this, 'Vui lòng nhập giá vé.');
			} else if (price < 0) {
				showError(this, 'Giá vé phải lớn hơn hoặc bằng 0.');
			} else if (price >= 50000000) {
				showError(this, 'Giá vé phải nhỏ hơn 50 triệu.');
			}
		});

		// Validate Ticket Quantity
		var ticketQuantityInput = document.getElementById('ticketQuantity');
		ticketQuantityInput.addEventListener('blur', function () {
			clearError(this);
			var quantity = parseInt(this.value.trim());
			if (isNaN(quantity)) {
				showError(this, 'Vui lòng nhập số lượng vé.');
			} else if (quantity <= 0) {
				showError(this, 'Số lượng vé phải lớn hơn 0.');
			}
		});

		// Validate Promotion Channel
		var promotionChannelInput = document.getElementById('promotionChannel');
		promotionChannelInput.addEventListener('blur', function () {
			clearError(this);
			if (this.value.trim() === '') {
				showError(this, 'Vui lòng nhập kênh khuyến mãi.');
			}
		});

		// Validate Promotion Code
		var promotionCodeInput = document.getElementById('promotionCode');
		promotionCodeInput.addEventListener('blur', function () {
			clearError(this);
			if (this.value.trim() === '') {
				showError(this, 'Vui lòng nhập mã khuyến mãi.');
			}
		});

		// Validate Slots Available
		var slotsAvailableInput = document.getElementById('slotsAvailable');
		slotsAvailableInput.addEventListener('blur', function () {
			clearError(this);
			var slotAvailable = parseInt(this.value.trim());
			if (isNaN(slotAvailable)) {
				showError(this, 'Vui lòng nhập số slot có sẵn.');
			}else if(slotAvailable <= 0){
				showError(this, 'Vui lòng nhập số slot có sẵn phải lớn hơn 0.');
			}
		});

		// Validate Discount Percent
		var discountPercentInput = document.getElementById('discountPercent');
		discountPercentInput.addEventListener('blur', function () {
			clearError(this);
			var discountPercent = parseInt(this.value.trim());

			if (isNaN(discountPercent)) {
				showError(this, 'Vui lòng nhập phần trăm giảm giá.');
			} else if (discountPercent <= 0 || discountPercent > 100) {
				showError(this, 'Phần trăm giảm giá phải nằm trong khoảng từ 0 đến 100.');
			}
		});
	});

		

	// document.getElementById('addTicketTypeButton').addEventListener('click', function () {
	// 	var form = document.getElementById('ticketTypeForm');
	// 	if (form.style.display === 'block') {
	// 		form.style.display = 'none';
	// 	} else {
	// 		form.style.display = 'block';
	// 	}
	// });

	// document.getElementById('submitTicketType').addEventListener('click', function (event) {
	// 	event.preventDefault();
	// 	const type = document.getElementById('ticketType').value;
	// 	const price = document.getElementById('ticketPrice').value;
	// 	const quantity = document.getElementById('ticketQuantity').value;

	// 	if (type && price && quantity) {
	// 		const listItem = document.createElement('li');
	// 		listItem.textContent = `- Type: ${type} ;  Price: ${price}đ; Quantity; ${quantity}tickets`;
	// 		document.getElementById('ticketTypeItems').appendChild(listItem);

	// 		// Clear the form fields
	// 		document.getElementById('ticketType').value = '';
	// 		document.getElementById('ticketPrice').value = '';
	// 		document.getElementById('ticketQuantity').value = '';

	// 		// Optionally hide the form again after adding a ticket type
	// 		document.getElementById('ticketTypeForm').style.display = 'none';
	// 	} else {
	// 		alert('Please fill in all fields for the ticket.');
	// 	}
	// });


	var tickets = []; // Array to store the ticket types

	// Button to show the form
	document.getElementById('addTicketTypeButton').addEventListener('click', function () {
		var form = document.getElementById('ticketTypeForm');
		if (form.style.display === 'none') {
			form.style.display = 'block';
		} else {
			form.style.display = 'none';
		}
	});

	// Button to add the ticket type
	document.getElementById('submitTicketType').addEventListener('click', function (event) {
		event.preventDefault();
		const type = document.getElementById('ticketType').value;
		const price = document.getElementById('ticketPrice').value;
		const quantity = document.getElementById('ticketQuantity').value;

		if (type && price && quantity) {
			// Add the ticket type to the array
			tickets.push({ type: type, price: price, quantity: quantity });

			// Add the ticket type to the list
			const listItem = document.createElement('li');
			listItem.textContent = `Type: ${type}, Price: ${price}đ, Quantity: ${quantity}tickets`;
			document.getElementById('ticketTypeList').appendChild(listItem);

			// Clear the form fields
			document.getElementById('ticketType').value = '';
			document.getElementById('ticketPrice').value = '';
			document.getElementById('ticketQuantity').value = '';

			// Hide the form
			document.getElementById('ticketTypeForm').style.display = 'none';
		} else {
			alert('Please fill in all fields for the ticket.');
		}
	});


	// When the form is submitted, add hidden input fields for the ticket types
	document.getElementById('formSubmit').addEventListener('submit', function () {
		for (var i = 0; i < tickets.length; i++) {
			var ticket = tickets[i];

			// Create new input fields for the ticket type, price, and quantity
			var typeInput = document.createElement('input');
			typeInput.type = 'hidden';
			typeInput.name = `Event.Tickets[${i}].TicketType`;
			typeInput.value = ticket.type;

			var priceInput = document.createElement('input');
			priceInput.type = 'hidden';
			priceInput.name = `Event.Tickets[${i}].TickerPrice`;
			priceInput.value = ticket.price;

			var quantityInput = document.createElement('input');
			quantityInput.type = 'hidden';
			quantityInput.name = `Event.Tickets[${i}].TicketQuantity`;
			quantityInput.value = ticket.quantity;

			// Append the new input fields to the form
			this.appendChild(typeInput);
			this.appendChild(priceInput);
			this.appendChild(quantityInput);
		}
	});


	var promotions = [];

	document.getElementById('addPromotionButton').addEventListener('click', function () {
		var form = document.getElementById('promotionForm');
		form.style.display = form.style.display === 'block' ? 'none' : 'block';
	});

	document.getElementById('submitPromotion').addEventListener('click', function (event) {
		event.preventDefault();
		const channel = document.getElementById('promotionChannel').value;
		const code = document.getElementById('promotionCode').value;
		const slots = document.getElementById('slotsAvailable').value;
		const discount = document.getElementById('discountPercent').value;

		if (channel && code && slots && discount) {

			// Add the ticket type to the array
			promotions.push({ channel: channel, code: code, slots: slots, discount: discount });

			const listItem = document.createElement('li');
			listItem.textContent = `- Channel: ${channel}, Code: ${code}; Slots Available: ${slots}; DiscountPercent: ${discount}%`;
			document.getElementById('promotionItems').appendChild(listItem);

			// Clear the form fields
			document.getElementById('promotionChannel').value = '';
			document.getElementById('promotionCode').value = '';
			document.getElementById('slotsAvailable').value = '';
			document.getElementById('discountPercent').value = '';

			// Optionally hide the form again
			document.getElementById('promotionForm').style.display = 'none';
		} else {
			alert('Please fill in all fields for the promotion.');
		}
	});

	document.getElementById('formSubmit').addEventListener('submit', function () {
		for (var i = 0; i < promotions.length; i++) {
			var promotion = promotions[i];

			// Create new input fields for the ticket type, price, and quantity
			var channelInput = document.createElement('input');
			channelInput.type = 'hidden';
			channelInput.name = `Event.Promotions[${i}].PromotionChannel`;
			channelInput.value = promotion.channel;

			var codeInput = document.createElement('input');
			codeInput.type = 'hidden';
			codeInput.name = `Event.Promotions[${i}].PromotionCode`;
			codeInput.value = promotion.code;

			var slotsInput = document.createElement('input');
			slotsInput.type = 'hidden';
			slotsInput.name = `Event.Promotions[${i}].SlotsAvailable`;
			slotsInput.value = promotion.slots;

			var discountInput = document.createElement('input');
			discountInput.type = 'hidden';
			discountInput.name = `Event.Promotions[${i}].DiscountPercent`;
			discountInput.value = promotion.discount;
			// Append the new input fields to the form
			this.appendChild(channelInput);
			this.appendChild(codeInput);
			this.appendChild(slotsInput);
			this.appendChild(disInput);
		}
	});


</script>
