﻿@page
@using System.Globalization
@model EventManagerWeb.Pages.EventManage.CheckoutModel
@{
}

<link href="~/difference/css/style.css" rel="stylesheet">
<link href="~/difference/css/responsive.css" rel="stylesheet">
<link href="~/difference/css/night-mode.css" rel="stylesheet">


<link href="~/difference/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="~/difference/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="~/difference/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="~/difference/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/difference/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">


<div class="" style="">
	<div class="main-card order-summary">
		<div class="bp-title">
			<h4>Billing information</h4>
		</div>
		<div class="order-summary-content p_30">
			<div class="event-order-dt">
				<div class="event-thumbnail-img">
					<img src="@Url.Content(Model.Event.UrlImage)" alt="">
				</div>
				@{
					DateTime? dt = Model.Event.DateBegin;
					string formattedDate = dt.HasValue ? dt.Value.ToString("ddd,dd MMMM yyyy 'at' hh.mm tt", new CultureInfo("en-US")) : "N/A";
				}
				<div class="event-order-dt-content">
					<h5>Tutorial on Canvas Painting for Beginners</h5>
					<span>@dt</span>
					<div class="category-type">@Model.Event.EventLocation</div>
				</div>
			</div>
			<div class="form-group select-icon mt-4">
				<label class="form-label">CategoryEvent:</label>
				<select class="selectpicker " title="Enter EventCategory" data-width="100%" data-size="5">					
						<option value="">HHHH</option>
						<option value="">HHHH</option>
				</select>
			</div>
			<div class="order-total-block">
				<div class="order-total-dt">
					<div class="order-text">Total Ticket</div>
					<div class="order-number"><input type="number"/>1</div>
				</div>
				<div class="order-total-dt">
					<div class="order-text">Sub Total</div>
					<div class="order-number">$50.00</div>
				</div>
				<div class="divider-line"></div>
				<div class="order-total-dt">
					<div class="order-text">Total</div>
					<div class="order-number ttl-clr">AUD $50.00</div>
				</div>
			</div>
			<div class="coupon-code-block">
				<div class="form-group mt-4">
					<label class="form-label">Coupon Code*</label>
					<div class="position-relative">
						<input class="form-control h_50" type="text" placeholder="Code" value="">
						<button class="apply-btn btn-hover" type="button">Apply</button>
					</div>
				</div>
			</div>
			<div class="confirmation-btn">
				<button class="main-btn btn-hover h_50 w-100 mt-5" type="button" onclick="window.location.href='booking_confirmed.html'">Confirm & Pay</button>
				<span>Price is inclusive of all applicable GST</span>
			</div>
		</div>
	</div>
</div>