﻿@page
@model EventManagerWeb.Pages.EventManage.ListEventModel
@{
}

<div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
	<div class="main-card mt-4 mb-0">
		<div class="events-dash-heading d-flex align-items-center w-100 py-2 pe-2 ps-4">
			<h4>Events</h4>
			<a href="add_new_event.html" class="main-btn btn-hover h_40 ms-auto">Create</a>
		</div>
		<div class="all-dash-events">
			<div class="row">

				@foreach(var item in Model.Events)
				{
					<div class="col-xl-4 col-lg-12 col-md-6 col-12">
						<div class="event-main-post">
							<div class="main-photo">
								<a href="#">
									<div class="photo-overlay"></div>
									<img src="@Url.Content(@item.UrlImage)" alt="">
								</a>
							</div>
							<div class="event-body">
								<a href="event_detail_view.html" class="event-title">@item.EventName</a>
								<div class="dash-counter-block">
									<p class="dash-event-counter">
										<span class="h-color"><i class=""></i>Location: @item.EventLocation</span>
									</p>
									<p class="dash-event-counter">
										<span class="h-color"><i class=""></i>Start Time: @item.DateBegin</span>
									</p>

									<p class="dash-event-counter">
										<span class="h-color"><i class=""></i>Start Time: @item.DateEnd</span>
									</p>
									<p class="dash-event-counter">
										<span class="h-color"><i class="2"></i>Category: @item.EventCategory.CategoryName</span>
									</p>
									
								</div>

								<div class="group-btns">
									@if (item.DateBegin.HasValue && item.DateBegin.Value > DateTime.Now.AddHours(12))
									{
										<div class="interest-btn btn-hover w-100 d-flex justify-content-center">
											<a href="UpdateEvent?eventId=@item.Id" class="interest-btn btn-hover w-100">
												<i class="feather-edit me-2"></i>Edit
											</a>
										</div>
									}
									@if (item.DateEnd.HasValue && DateTime.Now >= item.DateEnd.Value)
									{

										<form class="interest-btn btn-hover w-100" method="post" asp-page-handler="Delete" asp-route-eventId="@item.Id">
											<button  type="submit" class="interest-btn btn-hover w-100">
												<i class="feather-trash-2 me-2"></i>Delete
											</button>
										</form>
									}
								</div>
							</div>
						</div>
					</div>
				}

				<div class="col-12">
					<div class="loading-btn mb-0">
						<button class="process-btn btn-hover" type="button">
							View More Events
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
